# Tutorial

In [1]:
import pandas as pd
from deduplipy.datasets import load_data

Load data

In [2]:
df_train = load_data(kind='childcare', return_pairs=False)

Import `Deduplicator` class

In [3]:
from deduplipy.deduplicator import Deduplicator

Instantiate `Deduplicator` class with the column name

In [4]:
myDedupliPy = Deduplicator('name_address')

Perform the fitting using active learning

In [ ]:
myDedupliPy.fit(df_train)

Predict on new data

In [6]:
res = myDedupliPy.predict(df_train)
res.head(10)

blocking started
blocking finished
Nr of pairs: 163379
scoring started
scoring finished
Nr of filtered pairs: 163379
Clustering started
Clustering finished

                                                    cluster_id
chicago public schools perez manuel 1241 w 19th...           1
chicago public schools mason roswell b 4216 w 1...           2
chicago public schools cooper dual language aca...           3
chicago public schools mayo william j & charles...           4
chicago public schools mayo william j & charles...           5
chicago public schools hughes langston 226 w 10...           6
chicago public schools hughes langston 240 w 10...           6
chicago public schools bond carrie jacobs 7050 ...           7
chicago public schools bond carrie jacobs 7050 ...           7
chicago public schools woodson south carter g 4...           8