# DedupliPy

## Simple deduplication

Load your data. In this example we take a sample dataset that comes with DedupliPy:

In [1]:
from deduplipy.datasets import load_data

In [2]:
df = load_data(kind='voters')

Column names: 'name', 'suburb', 'postcode'

In [3]:
df.head(2)

                name      suburb postcode
0     khimerc thomas   charlotte    2826g
1  lucille richardst  kannapolis    28o81

Create a `Deduplicator` instance and provide the column names to be used for deduplication:

In [4]:
from deduplipy.deduplicator import Deduplicator

In [5]:
myDedupliPy = Deduplicator(['name', 'suburb', 'postcode'])

Fit the `Deduplicator` by active learning; enter whether a pair is a match (y) or not (n). When the training is converged, you will be notified and you can finish training by entering 'f'.

In [6]:
myDedupliPy.fit(df)

Nr. 1 (0+/0-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        eddoe white
suburb_1      pinnacle
postcode_1    27042
-> name_2        eddoe white
suburb_2      pinnacle
postcode_2    27042

 y

Nr. 2 (1+/0-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        eddoe white
suburb_1      pinnacle
postcode_1    27042
-> name_2        jerrad evanz
suburb_2      battleboro
postcode_2    z7809

 n

Nr. 3 (1+/1-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        steven johnson
suburb_1      winston salem
postcode_1    27105
-> name_2        phillip cooke
suburb_2      winston saiem
postcode_2    2710|

 n

Nr. 4 (1+/2-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        rickie cannon
suburb_1      lenoir
postcode_1    28645
-> name_2        lorraine minton
suburb_2      lenoir
postcode_2    28645

 n

Nr. 5 (1+/3-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        eddoe white
suburb_1      pinnacle
postcode_1    27042
-> name_2        eddi whide
suburb_2      pinnacle
postcode_2    27043

 y

Nr. 6 (2+/3-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        usman khan
suburb_1      greensboro
postcode_1    27407
-> name_2        shannon haringx
suburb_2      greensboro
postcode_2    27401

 n

Nr. 7 (2+/4-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        amanta phillips
suburb_1      charlotte
postcode_1    28259
-> name_2        jeannie phillips
suburb_2      marzhall
postcode_2    287s3

 n

Nr. 8 (2+/5-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        terri eakes
suburb_1      greenville
postcode_1    27834
-> name_2        terri norman
suburb_2      kernersville
postcode_2    27284

 n

Nr. 9 (2+/6-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        susan carpenter
suburb_1      charlotte
postcode_1    28210
-> name_2        melissa kalteribach
suburb_2      charlotte
postcode_2    28251

 n

Nr. 10 (2+/7-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        terri eakes
suburb_1      greenville
postcode_1    27834
-> name_2        tamara kinsch
suburb_2      greenville
postcode_2    27834

 n

Nr. 11 (2+/8-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        georgia wilson
suburb_1      lincolnton
postcode_1    28092
-> name_2        michael wilson
suburb_2      canton
postcode_2    28716

 n

Nr. 12 (2+/9-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        scott chapman
suburb_1      charlotte
postcode_1    28215
-> name_2        susan carpenter
suburb_2      charlotte
postcode_2    28210

 n

Nr. 13 (2+/10-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        joann williams
suburb_1      hamlet
postcode_1    28345
-> name_2        jeannie phillips
suburb_2      marzhall
postcode_2    287s3

 n

Nr. 14 (2+/11-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        mary niehoff
suburb_1      canton
postcode_1    28716
-> name_2        michael wilson
suburb_2      canton
postcode_2    28716

 n

Nr. 15 (2+/12-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        willie greene
suburb_1      mooresville
postcode_1    28115
-> name_2        william fleming
suburb_2      greenville
postcode_2    27858

 n

Nr. 16 (2+/13-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        dustin snowden
suburb_1      greensboro
postcode_1    27406
-> name_2        shannon haringx
suburb_2      greensboro
postcode_2    27401

 n

Nr. 17 (2+/14-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        harrison williams
suburb_1      chapel hill
postcode_1    27517
-> name_2        joann williams
suburb_2      hamlet
postcode_2    28345

 n

Nr. 18 (2+/15-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        terri norman
suburb_1      kernersville
postcode_1    27284
-> name_2        tere5a ray
suburb_2      burnsvilile
postcode_2    28714

 n

Nr. 19 (2+/16-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        jeannie phillips
suburb_1      marzhall
postcode_1    287s3
-> name_2        amanda phillips
suburb_2      charlotte
postcode_2    28269

 n

Nr. 20 (2+/17-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        dawn enterline
suburb_1      newport
postcode_1    28570
-> name_2        tremain morris
suburb_2      newport
postcode_2    28570

 n

Classifier converged, enter 'f' to stop training

Nr. 21 (2+/18-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        annie harris
suburb_1      raleigh
postcode_1    27604
-> name_2        amirha ward
suburb_2      raleigh
postcode_2    2761s

 f

recall threshold reached, recall = 1.0

Apply the trained `Deduplicator` on (new) data. The column `deduplication_id` is the identifier for a cluster. Rows with the same `deduplication_id` are found to be the same real world entity.

In [7]:
res = myDedupliPy.predict(df)
res.sort_values('deduplication_id').head(10)

                  name     suburb postcode  deduplication_id
1137        jon miller  charlotte    28212                 1
33          jon miller   charltte    28z12                 1
1040        john maher       carv    275l3                 2
522         john maher       cary    27513                 2
576      crystal davis  charlotte    28215                 3
1292     crystal davis  charl0tte    28315                 3
1424   herbert oxendin  chsrlotte    28277                 4
445   herbert oxendine  charlotte    28277                 4
1112   herber oxendine  charlotte    28247                 4
1332        glona lowe       cary    27515                 5

The `Deduplicator` instance can be saved as a pickle file and be applied on new data after training:

In [8]:
import pickle

In [9]:
with open('mypickle.pkl', 'wb') as f:
    pickle.dump(myDedupliPy, f)

In [10]:
del(myDedupliPy)

In [11]:
with open('mypickle.pkl', 'rb') as f:
    loaded_obj = pickle.load(f)

In [12]:
res = loaded_obj.predict(df)
res.sort_values('deduplication_id').head(10)

                  name     suburb postcode  deduplication_id
1137        jon miller  charlotte    28212                 1
33          jon miller   charltte    28z12                 1
1040        john maher       carv    275l3                 2
522         john maher       cary    27513                 2
576      crystal davis  charlotte    28215                 3
1292     crystal davis  charl0tte    28315                 3
1424   herbert oxendin  chsrlotte    28277                 4
445   herbert oxendine  charlotte    28277                 4
1112   herber oxendine  charlotte    28247                 4
1332        glona lowe       cary    27515                 5