# DedupliPy

## Simple deduplication

Load your data. In this example we take a sample dataset that comes with DedupliPy:

In [26]:
# %load_ext autoreload
# %autoreload 2

In [1]:
%config Completer.use_jedi = False

In [2]:
from deduplipy.datasets import load_data

In [3]:
df = load_data(kind='voters')

Column names: 'name', 'suburb', 'postcode'

In [4]:
df.head(2)

                name      suburb postcode
0     khimerc thomas   charlotte    2826g
1  lucille richardst  kannapolis    28o81

Create a `Deduplicator` instance and provide the column names to be used for deduplication:

In [5]:
from deduplipy.deduplicator import Deduplicator

In [6]:
myDedupliPy = Deduplicator(['name', 'suburb', 'postcode'])

Fit the `Deduplicator` by active learning; enter whether a pair is a match (y) or not (n). When the training is converged, you will be notified and you can finish training by entering 'f'.

In [7]:
myDedupliPy.fit(df)

Nr. 1 (0+/0-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        maleda mccloud
suburb_1      goldsboro
postcode_1    2753o
-> name_2        maleda mccloud
suburb_2      goldsboro
postcode_2    2753o

 y

Nr. 2 (1+/0-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        maleda mccloud
suburb_1      goldsboro
postcode_1    2753o
-> name_2        kimmerly walden
suburb_2      high pint
postcode_2    27760

 n

Nr. 3 (1+/1-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        jon miller
suburb_1      charlotte
postcode_1    28212
-> name_2        alan hope
suburb_2      belmont
postcode_2    28012

 n

Nr. 4 (1+/2-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        maleda mccloud
suburb_1      goldsboro
postcode_1    2753o
-> name_2        hannah griffin
suburb_2      charlotte
postcode_2    28226

 n

Nr. 5 (1+/3-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        glenda norris
suburb_1      hamlet
postcode_1    28345
-> name_2        glenda norris
suburb_2      hamlet
postcode_2    28345

 y

Nr. 6 (2+/3-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        margaret youngblood
suburb_1      winston salem
postcode_1    27101
-> name_2        margaret youngblood
suburb_2      winston salem
postcode_2    27101

 y

Nr. 7 (3+/3-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        melissa kaltenbach
suburb_1      charlotte
postcode_1    28211
-> name_2        melissa kaltenbach
suburb_2      charlotte
postcode_2    28211

 y

Nr. 8 (4+/3-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        timotyh wiese
suburb_1      charl0tte
postcode_1    28273
-> name_2        dellys perez castillo
suburb_2      fayetteville
postcode_2    28304

 n

Nr. 9 (4+/4-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        timotyh wiese
suburb_1      charl0tte
postcode_1    28273
-> name_2        derek oliver
suburb_2      charlotte
postcode_2    28210

 n

Nr. 10 (4+/5-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        durman smith
suburb_1      china grove
postcode_1    28023
-> name_2        daahlene smith
suburb_2      linclonton
postcode_2    28092

 n

Nr. 11 (4+/6-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        daryl perry
suburb_1      fayetteville
postcode_1    2830l
-> name_2        donald barriey
suburb_2      fayetteville
postcode_2    283o3

 n

Nr. 12 (4+/7-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        cody williams
suburb_1      ralwigh
postcode_1    276|2
-> name_2        crqig williams
suburb_2      winston-salem
postcode_2    27l27

 n

Nr. 13 (4+/8-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        p smith
suburb_1      ellenhoro
postcode_1    28050
-> name_2        p smith
suburb_2      ellenhoro
postcode_2    28050

 y

Nr. 14 (5+/8-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        melissa kaltenbach
suburb_1      charlotte
postcode_1    28211
-> name_2        misha wallace
suburb_2      charlotte
postcode_2    28211

 n

Nr. 15 (5+/9-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        curtis hake
suburb_1      carie
postcode_1    27519
-> name_2        iouri petraev
suburb_2      car7
postcode_2    27519

 n

Nr. 16 (5+/10-)
Is this a match? (y)es, (n)o, (p)revious, (s)kip, (f)inish
-> name_1        jay yuan
suburb_1      ralegih
postcode_1    276o7
-> name_2        jay yuan
suburb_2      ralegih
postcode_2    276o7

 f

recall threshold reached, recall = 1.0

Deduplicator
  - col_names = ['name', 'suburb', 'postcode']
  - field_info = {'name': ['adjusted_ratio', 'adjusted_token_sort_ratio'], 'suburb': ['adjusted_ratio', 'adjusted_token_sort_ratio'], 'postcode': ['adjusted_ratio', 'adjusted_token_sort_ratio']}
  - interaction = False
  - rules_info = {'name': ['whole_field', 'first_word', 'first_two_words', 'first_three_letters', 'first_four_letters', 'first_five_letters', 'first_three_letters_no_space', 'first_four_letters_no_space', 'first_five_letters_no_space', 'sorted_integers', 'first_integer', 'last_integer', 'largest_integer', 'three_letter_abbreviation'], 'suburb': ['whole_field', 'first_word', 'first_two_words', 'first_three_letters', 'first_four_letters', 'first_five_letters', 'first_three_letters_no_space', 'first_four_letters_no_space', 'first_five_letters_no_space', 'sorted_integers', 'first_integer', 'last_integer', 'largest_integer', 'three_letter_abbreviation'], 'postcode': ['whole_field', 'first_word', 'first_two_words', 'first_three_letters', 'first_four_letters', 'first_five_letters', 'first_three_letters_no_space', 'first_four_letters_no_space', 'first_five_letters_no_space', 'sorted_integers', 'first_integer', 'last_integer', 'largest_integer', 'three_letter_abbreviation']}
  - recall = 1.0

Apply the trained `Deduplicator` on (new) data. The column `deduplication_id` is the identifier for a cluster. Rows with the same `deduplication_id` are found to be the same real world entity.

In [8]:
res = myDedupliPy.predict(df)
res.sort_values('deduplication_id').head(10)

                   name     suburb postcode  deduplication_id
1131   youssef masmoudi  charlotte    28277                 1
140     yossef masmoudi   carlotte    28277                 1
111     vincejt sivillo  charlodte    28203                 2
1267    vincent sivillo  charlotte    28203                 2
39    l douglas loujdin  charlotte    28225                 3
1139   l douglas loudin  charlotte    28205                 3
134        quianha pope  charlotre    28213                 4
1589       quianna pope  charlotte    28213                 4
1232  robert goudzwaard  charlotte    28210                 5
84    tobert goudzwaard  charlltte    28210                 5

The `Deduplicator` instance can be saved as a pickle file and be applied on new data after training:

In [9]:
import pickle

In [10]:
with open('mypickle.pkl', 'wb') as f:
    pickle.dump(myDedupliPy, f)

INFO:tensorflow:Assets written to: ram:///var/folders/rs/460dh_k91b3ctlxz9h9g3k080000gp/T/tmp6lj323lv/assets

In [11]:
with open('mypickle.pkl', 'rb') as f:
    loaded_obj = pickle.load(f)

In [12]:
res = loaded_obj.predict(df)
res.sort_values('deduplication_id').head(10)

                   name     suburb postcode  deduplication_id
1131   youssef masmoudi  charlotte    28277                 1
140     yossef masmoudi   carlotte    28277                 1
111     vincejt sivillo  charlodte    28203                 2
1267    vincent sivillo  charlotte    28203                 2
39    l douglas loujdin  charlotte    28225                 3
1139   l douglas loudin  charlotte    28205                 3
134        quianha pope  charlotre    28213                 4
1589       quianna pope  charlotte    28213                 4
1232  robert goudzwaard  charlotte    28210                 5
84    tobert goudzwaard  charlltte    28210                 5